@import "reset";
@import "mixin";
@import "varibles";
.meetme {
    margin-left: 7vw;
    .navbar-nav {
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        .right {
            @media screen and(max-width:1200px) {
                margin-left: 2vw !important;
            }
            @media screen and(max-width:900px) {
                margin-left: 0vw !important;
            }
        }
        .left {
            padding-left: 2vw;
            @media screen and (min-width: 2000px) {
                padding-left: 0;
            }
            @media screen and (max-width: 900px) {
                padding-left: 0;
                &:nth-child(4) {
                    width: 47%;

                    a {
                        width: 103%;
                    }
                }
            }
        }
        h6 {
            font-size: 18px !important;
            font-weight: 500 !important;
        }
        .button {
            width: fit-content;
            border-radius: 6px;
            &:hover {
                background-color: $white;
                color: $black !important;
            }
            @include media(900px) {
                width: 12vw;
            }
        }
    }

    .hhha {
        width: 59%;
        height: 9vh;
        position: relative;
        i {
            position: absolute;
            right: 2vw;
            margin-top: 25px;
            width: 32px;
        }
        .fa-magnifying-glass::before {
            display: none;
            @media screen and (min-width: 1100px) {
                display: contents;
                justify-content: center;
                align-items: center;
            }
        }

        input {
            border-radius: 12px;
            padding-left: 2vw;
            font-size: 18px;
            font-weight: 300;
            @media screen and (min-width: 1200px) {
                display: flex;
            }
        }
    }
}
.row {
    overflow-x: hidden;
    .circle {
        overflow-x: hidden;
        .circles {
            display: none;
            @media screen and (min-width: 991px) {
                display: flex;
                position: absolute;
                z-index: -1;
                top: -141px;
                right: -44px;
                width: 37%;
                padding: 0 0;
            }
            @media screen and (min-width: 2000px) {
                top: -444px;
            }
        }
        .first1 {
            display: none;
            @media screen and (min-width: 991px) {
                display: flex;
            }
        }
    }
    .first2 {
        overflow-x: hidden;
        .first22 {
            display: none;
            @media screen and (max-width: 991px) {
                display: flex;
            }
        }
    }
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;

    .h3 {
        font-weight: 300;
    }
    .get {
        padding: 12px 85px;
        &:hover {
            background-color: $white;
            color: $black !important;
        }
    }
}
.card-body {
    h5 {
        font: {
            size: 29px;
            weight: 600;
        }
        @media screen and (min-width: 1000px) {
            font-size: 44px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 57px;
            font-weight: 500;
        }
    }
    p {
        font-size: 18px;
        font-weight: 200;
        @media screen and (min-width: 991px) {
            font-size: 21px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 26px;
        }
    }
}
