body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
}

.meetme {
  margin-left: 7vw;
}

.meetme .navbar-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .meetme .navbar-nav .right {
    margin-left: 2vw !important;
  }
}

@media screen and (max-width: 900px) {
  .meetme .navbar-nav .right {
    margin-left: 0vw !important;
  }
}

.meetme .navbar-nav .left {
  padding-left: 2vw;
}

@media screen and (min-width: 2000px) {
  .meetme .navbar-nav .left {
    padding-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .meetme .navbar-nav .left {
    padding-left: 0;
  }
  .meetme .navbar-nav .left:nth-child(4) {
    width: 47%;
  }
  .meetme .navbar-nav .left:nth-child(4) a {
    width: 103%;
  }
}

.meetme .navbar-nav h6 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.meetme .navbar-nav .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
}

.meetme .navbar-nav .button:hover {
  background-color: white;
  color: black !important;
}

@media screen and (min-width: 900px) {
  .meetme .navbar-nav .button {
    width: 12vw;
  }
}

.meetme .hhha {
  width: 59%;
  height: 9vh;
  position: relative;
}

.meetme .hhha .fa-magnifying-glass::before {
  position: absolute;
  right: 2vw;
  margin-top: 12px !important;
  width: 32px;
}

@media screen and (max-width: 1200px) {
  .meetme .hhha .fa-magnifying-glass::before {
    display: none;
  }
}

.meetme .hhha input {
  position: relative;
  border-radius: 12px;
  padding-left: 2vw;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (min-width: 1200px) {
  .meetme .hhha input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.row {
  overflow-x: hidden;
}

.row .circle {
  overflow-x: hidden;
}

.row .circle .circles {
  display: none;
}

@media screen and (min-width: 991px) {
  .row .circle .circles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: -1;
    top: -141px;
    right: -44px;
    width: 37%;
    padding: 0 0;
  }
}

@media screen and (min-width: 2000px) {
  .row .circle .circles {
    top: -444px;
  }
}

.row .circle .first1 {
  display: none;
}

@media screen and (min-width: 991px) {
  .row .circle .first1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.row .first2 {
  overflow-x: hidden;
}

.row .first2 .first22 {
  display: none;
}

@media screen and (max-width: 991px) {
  .row .first2 .first22 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 275px;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text .h3 {
  font-weight: 300;
}

.text .get {
  padding: 12px 85px;
}

.text .get:hover {
  background-color: white;
  color: black !important;
}

.card-body h5 {
  font-size: 29px;
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .card-body h5 {
    font-size: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .card-body h5 {
    font-size: 57px;
    font-weight: 500;
  }
}

.card-body p {
  font-size: 18px;
  font-weight: 200;
}

@media screen and (min-width: 991px) {
  .card-body p {
    font-size: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .card-body p {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */